#home{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.post-item{
    border:3px solid rgb(188, 161, 242) ;
    width:80%;
    min-height: 30px;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}