.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.allArticles {
  /* background-color: red; */
  width: 60%;
}

.topArticles {
  /* background-color: aquamarine; */
  width: 30%;
}
