.navbar {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0.5px solid rgb(207, 207, 207);
}

.left {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Merriweather", serif;
  text-decoration: none;
  color: black;
}

.signBtn {
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 8px;
  margin: 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  transition: 0.3s;
}

.signBtn:hover {
  background-color: rgb(78, 78, 78);
  color: white;
}

.signBtn:active {
  transform: translateY(5px);
}
